@let user = (user$ | async); @let holdings = holdings$ | async; @let trending =
trending$ | async;

<ion-header class="ion-no-border header">
  <ion-toolbar>
    <h3>Dashboard</h3>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="container">
    <section>
      <span class="font-size-label-l3">Total equity</span>
      <h1>
        {{ user?.equity || 0 | currency: 'AUD' : 'symbol-narrow' : '1.0-2' }}
      </h1>
    </section>

    <section class="holdings-section">
      <h4>Holdings</h4>
      @if (holdings!.length > 0) {
      <div class="holdings-header">
        <span>Stock</span>
        <span>Price</span>
        <span>Change</span>
      </div>
      <div class="holdings-list">
        @for (item of holdings; track item.symbol) {
        <app-instrument [data]="item"></app-instrument> }
      </div>
      }
    </section>

    <section class="trending-section">
      <h4>Trending stocks</h4>
      <div class="trending-list">
        @if (trending!.length > 0) { @for (item of trending; track item.symbol)
        {
        <app-card
          [data]="item"
          [type]="cardType.Small"
          (onClick)="handleClick($event)"
        ></app-card>
        }}
      </div>
    </section>
  </div>

  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
  </ion-modal>
</ion-content>
