@use "sass-variables" as *;

.header {
  padding: $spacer * 4 $spacer * 6 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $spacer * 10;
}

.holdings-section {
  h4 {
    margin-bottom: $spacer * 6;
  }
}

.holdings-header {
  display: grid;
  grid-template-columns: 1fr auto 80px;
  gap: $spacer * 3;
  color: #959595;
  font-size: var(--font-size-body-b4);

  :not(:first-child) {
    text-align: right;
  }
}

.holdings-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 56px;
  gap: $spacer;
}

.trending-section {
  h4 {
    margin-bottom: $spacer * 4;
  }
}

.trending-list {
  display: flex;

  gap: $spacer * 4;
}
